.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 64px;
  padding: 1px;
  color: white;
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 2;
}

.App-view {
  position: fixed;
  height: calc(100vh - 148px);
  top: 64px;
  overflow-y: scroll;
}

.App-intro {
  font-size: large;
}

.ViewSwitcher-container {
  position: fixed;
  height: 42px;
  bottom: 0;
  left: 0;
  z-index: 2;
}

.Playback-container {
  position: fixed;
  height: 42px;
  bottom: 42px;
  left: 0;
  z-index: 2;
}
